<div class="widgets">

<style>
	.resCard {
		    padding: 1%;
		    width: 31% !important;
		    float: left;
	}
	.resCard .score{
		    font-size: 20px;
		    font-weight: 600;
		    display: block;
		    padding: 2%;
	}
	.filmName {
		font-size: 24px;
	    font-style: italic;
	    font-weight: 500;
	}

	.floatLeft {
		float: left !important;
	}

	.floatRight {
		float: right !important;
	}
	.search {
        display: block;
	    width: 100%;
	    border: 1px solid;
	    border-radius: 15px 15px;
	    margin: 0 auto;
	}
</style>

<div class="row" [hidden]="!selectedItem.film" (click)="goBack()">
<div class="col-md-12" style="margin-bottom: 2%">
  <button class="btn btn-primary floatLeft" type="button" style="position: fixed;z-index: 999">Back</button>
  <button class="btn btn-primary floatRight" type="button">View All Films</button>
</div>
</div>

  <div class="row" [hidden]="selectedItem.film">
  	<div class="col-md-12" style="margin-bottom: 2%">
  	<div class="col-md-6" style="margin: 0  auto">
	  <div class="search" >
	    <i class="fa fa-search" style="margin: 2px 13px 2px 13px;"></i>
	    <input #searchBox id="searchInput" type="text" placeholder="Search for..." (keyup)="search(searchBox.value)" style=" width: 100%;">
	  </div>
	  </div>
	  </div>
  		
  		<div class="col-xs-6 col-md-2" *ngFor="let item of filmsList; let myIndex = index" 
  		style="text-align:center;float:left;width:50%">
            <div style="boder:2px solid;padding:1%" (click)="selectFilm(item)">
            <img src="{{item.film_url}}"style=" width: 75%;">
            <div style="padding: 3%">
            <a>{{item.film}}</a>
            </div>
            </div>
        </div>

   <!--  <ba-card title="" baCardClass="with-scroll">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card> -->
  </div>

  <div class="row" style="text-align: center" [hidden]="!selectedItem.film">

  		<div class="col-md-12" style="text-align: left;margin-bottom: 2%">
  		<div class="col-xs-12 col-md-4" style="text-align: center; float: left">
            <div style="boder:2px solid;padding:1%">
            <img src="{{selectedItem.film_url}}" style="width: 45%;margin: 0 auto">
            </div>
        </div>
        <div class="col-xs-12 col-md-8" style="float: left">
        	<div style="padding-top: 4%" class="col-md-12">
            <a class="filmName">{{selectedItem.film}}</a>
            </div>
           <div class="col-md-12" style="padding-top: 4%"><span>{{selectedItem.story}}</span></div>
           <div class="col-md-12" style="padding-top: 4%"><span>Director : </span> {{selectedItem.director}}</div>
           <div class="col-md-12"><span>Casts : </span> {{selectedItem.cast}}</div>
           <div class="col-md-12" style="padding-top: 4%">
           	 <i class="fa fa-star" aria-hidden="true" ng></i>
           	 {{selectedItem.rating}}/5
           </div>
           <div class="col-md-12">{{movieLevel}} Movie</div>
        </div>
        </div>
        <div class="col-md-12">
        
        <div class="resCard col-md-3" [hidden]="!selectedItem.imdb">
        <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>IMDB</span>
        	<span class="score">{{selectedItem.imdb}}/10</span>
        	</div>
	    </div>
	    <div class="resCard col-md-3" [hidden]="!selectedItem.bookmyshow">
	    <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>BOOKMYSHOW</span>
        	<span class="score">{{selectedItem.bookmyshow}}/5</span>
        	</div>
	    </div>
	    <div class="resCard col-md-3" [hidden]="!selectedItem.behindwoods">
	    <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>BEHINDWOODS</span>
        	<span class="score">{{selectedItem.behindwoods}}/5</span>
        	</div>
	    </div>
	    <div class="resCard col-md-3" [hidden]="!selectedItem.lensmen">
	    <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>LENSMEN</span>
        	<span class="score">{{selectedItem.lensmen}}/5</span>
        	</div>
	    </div>
	    <div class="resCard col-md-3" [hidden]="!selectedItem.filmibeat">
	    <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>FILMIBEAT</span>
        	<span class="score">{{selectedItem.filmibeat}}/5</span>
        	</div>
	    </div>
	    <div class="resCard col-md-3" [hidden]="!selectedItem.firstpost">
	    <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>FIRSTPOST</span>
        	<span class="score">{{selectedItem.firstpost}}/5</span>
        	</div>
	    </div>
	    <div class="resCard col-md-3" [hidden]="!selectedItem.indiaglitz">
	    <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>INDIAGLITZ</span>
        	<span class="score">{{selectedItem.indiaglitz}}/5</span>
        	</div>
	    </div>
	    <div class="resCard col-md-3" [hidden]="!selectedItem.nowrunning">
	    <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>NOWRUNNING</span>
        	<span class="score">{{selectedItem.nowrunning}}/5</span>
        	</div>
	    </div>
	    <div class="resCard col-md-3" [hidden]="!selectedItem.timesofindia">
	    <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>TIMESOFINDIA</span>
        	<span class="score">{{selectedItem.timesofindia}}/5</span>
        	</div>
	    </div>
	    <div class="resCard col-md-3" [hidden]="!selectedItem.malluratings">
	    <div class="col-md-12" style="border: 1px solid;border-radius: 0px 0px 40px 40px;padding: 2%;">
        	<span>MALLURATINGS</span>
        	<span class="score">{{selectedItem.malluratings}}/5</span>
        	</div>
	    </div>
	    </div>
</div>
  </div>

